.area {

  & .area__title {
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px 12px;
    background: #e3e3e3;

    &:after {
      content: '';
      position: absolute;
      margin-left: 11px;
      margin-top: 8px;
      width: calc(99.5% - 105px);
      border: 1px solid #e3e3e3;
    }
  }

  & .area__top_block {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.6fr 30% .1fr;
    gap: 8px;

    & .area__all_area {

      .input_all_area {
        padding: 8px 12px;
        color: #7a8984;
        background-color: #e3fff4;
        border: 2px solid #89d3b6;
        border-radius: 6px;
      }

    }

    & .area__living_area {
      .input_living_area {
        padding: 8px 12px;
        color: #7a8984;
        background-color: #e3fff4;
        border: 2px solid #89d3b6;
        border-radius: 6px;
      }
    }

    & .area__land {
      .input_land {
        padding: 8px 12px;
        color: #7a8984;
        background-color: #e3fff4;
        border: 2px solid #89d3b6;
        border-radius: 6px;
      }
    }

    & .area__documents {
      .input_documents {
        padding: 8px 12px;
        color: #7a8984;
        background-color: #e3fff4;
        border: 2px solid #89d3b6;
        border-radius: 6px;
      }
    }
  }

  & .area__bottom_block {
    margin: 0;

    display: grid;
    grid-template-columns: .97fr;

    .textarea_additionally {

      padding: 8px 12px;
      color: #7a8984;
      background-color: #e3fff4;
      border: 2px solid #89d3b6;
      border-radius: 6px;
      min-height: 50px !important;
    }
  }

}