.contact-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: 32px 35px;
  background-position: center center;
  vertical-align: middle;
  line-height: 32px;
  box-shadow:
    inset 0 0 1px #999,
    inset 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}

.k-rating-item.k-selected {
  color: #ffa600;
}

.no-border-sparkline svg > g > path:first-child {
  fill: none !important;
}

.no-border-sparkline {
  width: 100%;
}

.no-border-sparkline .k-sparkline {
  width: 100% !important;
}

.k-badge-container {
  margin-left: 30px;
  margin-bottom: 5px;
}

.k-column-title {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 34px !important;
}

.k-grid .k-table-row.k-table-alt-row {
  background-color: #f0fff9 !important;
}

.dark .k-grid .k-table-row.k-table-alt-row {
  background-color: #03170f !important;
}

.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row):hover,
.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).k-hover {
  background-color: #009673 !important;
  color: white;
}

.k-table-row {
  font-size: 12px !important;
  line-height: 12px !important;
}

.k-table-td {
  height: 20px !important;

  line-height: 20px !important;
}

.k-table-sm .k-table-th,
.k-table-sm .k-table-td {
  padding: 2px 2px 4px 10px !important;
}

.k-grid .k-grid-filter,
.k-grid .k-header-column-menu,
.k-grid .k-grid-header-menu,
.k-grid .k-hierarchy-cell .k-icon {
  svg {
    visibility: hidden;
  }

  &:before {
    content: url("/src/assets/svg/filter.svg") !important;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.k-table-tbody .k-table-row.k-selected > .k-table-td,
.k-table-list .k-table-row.k-selected {
  background-color: #009673 !important;
  color: white;
}

.dark .k-table-tbody .k-table-row.k-selected > .k-table-td,
.dark .k-table-list .k-table-row.k-selected {
  background-color: #114a33 !important;
  color: white;
}

.dark #\:r7\: {
  border: transparent !important;
}

.dark .k-grid-header {
  border-bottom: 1px solid #fff;
  background: #000;
}

.dark .k-cell-inner {
  color: white;
  border-left: 1px solid #898989;
  border-right: 1px solid #898989;
}

.dark .k-table-row {
  border: 1px solid #fff;
  background: #000;
}

.dark .k-grid-table-wrap {
  background: #000;
}

.dark .k-grid-content .k-virtual-content {
  background: #000 !important;
  border-color: #000;
}

.dark .k-grid-header-wrap {
  border-top: 1px solid #898989;
}

.dark .k-grid .k-table-tbody > .k-table-row:not(.k-detail-row):hover,
.dark .k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).k-hover {
  background-color: #114a33 !important;
  color: white;
}

.dark .k-table-row .k-master-row .k-table-alt-row .k-alt {
  background-color: #03170f !important;
}

.dark .k-table-td {
  color: white;
}

.dark .k-grid .k-table-row .k-table-alt-row {
  background-color: #03170f !important;
  color: white;
}

.dark div.k-grid-content {
  background: #000 !important;
}
