.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &.dark {
    background-color: #000;
    color: white;
  }

  & .left_part {
    display: flex;
    gap: 10px;
    align-items: center;

    .title {
      font-size: 18px;

      &.dark {
        color: #fff;
      }
    }

    .btn_arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #b5b5b5;
      border-radius: 2px;
      width: 110px;

      &.dark {
        border-color: #fff;
      }

      & .rotate_icons {
        transform: rotate(90deg);
      }
    }
  }

  & .right_part {
    display: flex;
    gap: 7px;

    & .btn_help {
      border: 2px solid #cecece;
      border-radius: 2px;
      padding: 4px 14px;
      background: none;

      &.dark {
        border-color: #fff;
      }
    }

    & .btn_cancel {
      border: 2px solid #59c59b;
      border-radius: 2px;
      padding: 4px 14px;
      background: none;

      &.dark {
        border-color: #4a9a76;
        color: white;
      }
    }

    & .btn_save {
      color: white;
      border: none;
      background: rgb(76,173,113);
      background: linear-gradient(90deg, rgba(76,173,113,1) 39%, rgba(152,235,169,1) 100%);
      border-radius: 2px;
      padding: 4px 14px;

      &.dark {
        background: linear-gradient(90deg, rgba(56,125,85,1) 39%, rgba(104,177,130,1) 100%); /* Тёмный градиент */
      }
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-weight: bold;

    &.dark {
      color: #fff;
    }
  }
}

