@import 'assets/css/modal';
@import 'assets/css/button';
@import 'assets/css/tabs';
@import 'assets/css/table';
@import 'assets/css/checkbox';
@import 'assets/css/switch';
@import 'assets/css/list_item';

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.flex-justify-space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

